*{
    margin: 0;
    padding: 0;
}
nav{
    background: #444444;
    height: 100px;

}
body{
    background: #d8d8d8;

}
.middle{
    background: white;
    height: 80vh;
    width: 60vw;
    margin: auto;

}
footer{
    background: black;
    height: 50px;
    width: 60vw;
    margin: auto;
}